html, body {
    height: 100%;
}
body {
    background-color: black;
    color: white;
    font-family: "Gill Sans MT", sans-serif;
    padding: 0;
    margin: 0;
}
a:link { color: #ff3333; }
a:visited { color: #ff9999; }
a:active, a:hover { color: #cccc66; }

img {
    border: 0;
}

#map {
    width: 100%;
    height: 100%;
    background-color: #e5e3df;
}

#footer {
    font-size: smaller;
    border-top: dotted 1px #999999;
    padding-top: 5px;
}

.leaflet-label {
    color: #fff;
    background-color: inherit;
    margin: 0;
    padding: 0 2px;
    border: none;
    font-weight: normal;
}
.leaflet-label::before {
    display: none;
}

h1 {
    color: #fff;
    background-color: #000;
    -webkit-box-shadow: 0px 0px 16px 2px #fff;
            box-shadow: 0px 0px 16px 2px #fff;
    -webkit-border-radius: 0 0.5em 0.5em 0;
            border-radius: 0 0.5em 0.5em 0;
    font-size: 175%;
    position: absolute;
    bottom: 1em; left: 0em;
    padding: 0.25em 0.5em;
}

#info {
    color: #fff;
    background-color: #000;
    -webkit-box-shadow: 0px 0px 8px 2px #fff;
            box-shadow: 0px 0px 8px 2px #fff;
    -webkit-border-radius: 0 0 0.5em 0.5em;
            border-radius: 0 0 0.5em 0.5em;
    position: absolute;
    top: 0; right: 1em;
    width: 16em;
    padding: 0.5em;
}
#info #showhide {
    float: right;
    margin: 0;
}
#info h2 {
    margin: 0;
}
#info h3 {
    margin-bottom: 0;
}
#info p, #info ul {
    margin-top: 0;
}
#info ul {
    margin-left: 1.5em;
    padding-left: 0;
}

#loading {
    position: absolute;
    top: 50%; left: 50%;
    margin: 0 0 0 -16px;
    text-align: center;
    width: 32px;
    color: black;
    background-color: white;
    font-size: 150%;
    border: solid 1px #999999;
    padding: 4px;
    display: none;
    line-height: 1;
}
