body {
    background-color: black;
    color: white;
}
a:link { color: #ff3333; }
a:visited { color: #ff9999; }
a:active, a:hover { color: #cccc66; }

.leaflet-label {
    color: #fff;
    background-color: inherit;
    margin: 0;
    padding: 0 2px;
    border: none;
    font-weight: normal;
}
.leaflet-label::before {
    display: none;
}

#header {
    color: #fff;
    background-color: #000;
}

#info {
    color: #fff;
    background-color: #000;
}
