/* v\:* {
	behavior:url(#default#VML);
}
*/
body {
	background-color: white;
	color: black;
	font-family: "Gill Sans MT", sans-serif;
	padding: 0;
	margin: 10px 10px 0;
}
a:link { color: #0000ff; background-color: #ffffff; }
a:visited { color: #000099; background-color: #ffffff; }
a:active, a:hover { color: #ff0000; background-color: #ffffff; }

img {
	border: 0;
}

#map {
	width: 500px;
	height: 700px;
	border: 1px solid #999999;
	background-color: #e5e3df;
	float: left;
}

#footer {
	font-size: smaller;
	border-top: dotted 1px #999999;
	padding-top: 5px;
}

div.markerTooltip, div.markerDetail {
	font-size: 83%;
	color: black;
	background-color: white;
	white-space: nowrap;
	margin: 0;
	padding: 2px 4px;
	border: 1px solid black;
}

h1 {
	font-size: 175%;
	border-bottom: dotted 2px #cccccc;
	margin: 0 0 0.5em 0;
}

#info {
	width: 250px;
	float: right;
}
#info #showhide {
	float: right;
	margin: 0;
}
#info h2 {
	margin: 0;
}
#info h3 {
	margin-bottom: 0;
}
#info p, #info ul {
	margin-top: 0;
}
#info ul {
	margin-left: 1.5em;
	padding-left: 0;
}

#loading {
	position: absolute;
	top: 0; left: 0;
	margin: 0 0 0 -16px;
	text-align: center;
	width: 32px;
	color: black;
	background-color: white;
	font-size: 150%;
	border: solid 1px #999999;
	padding: 4px;
	display: none;
	line-height: 1;
}
