.leaflet-control-attribution {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}

html, body {
    height: 100%;
}
body {
    background-color: white;
    color: black;
    font-family: "Gill Sans MT", sans-serif;
    padding: 0;
    margin: 0;
}
a:link { color: #0000ff; }
a:visited { color: #000099; }
a:active, a:hover { color: #ff0000; }

img {
    border: 0;
}

#map {
    width: 100%;
    height: 100%;
    background-color: #e5e3df;
}

#footer {
    font-size: smaller;
    border-top: dotted 1px #999999;
    padding-top: 5px;
}

#options {
    color: #000;
    background-color: #fff;
    opacity: 0.9;
    position: absolute;
    top: 0; left: 5em;
    padding: 0.25em;
    margin: 0;
}

#header {
    color: #000;
    background-color: #fff;
    opacity: 0.9;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.25em 0.5em;
}
#header h1 {
    margin: 0;
    font-size: 130%;
}
#header p {
    margin: 0;
}

#info {
    color: #000;
    background-color: #fff;
    position: absolute;
    top: 0; right: 0;
    opacity: 0.9;
    width: auto;
    padding: 0.5em;
}
#info_shown {
    display: none;
}
#info .showhide {
    float: right;
    margin: 0;
}
#info h2 {
    margin: 0;
}
#info h3 {
    margin-bottom: 0;
}
#info p, #info ul {
    margin-top: 0;
}
#info ul {
    margin-left: 1.5em;
    padding-left: 0;
}

#loading {
    position: absolute;
    top: 50%; left: 50%;
    margin: 0 0 0 -16px;
    text-align: center;
    width: 32px;
    color: black;
    background-color: white;
    font-size: 150%;
    border: solid 1px #999999;
    padding: 4px;
    display: none;
    line-height: 1;
}
